body {
font-family: Arial;
background:#f4f6f8;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}
.login-box {
background:#fff;
padding:30px;
border-radius:10px;
width:320px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
}
input,button {
width:100%;
padding:10px;
margin:10px 0;
}
button {
background:#4f46e5;
color:white;
border:none;
cursor:pointer;
}
